<%- include("partials/header"); -%>
<div class="contactinfo">   
<h1>Contact</h1>
    <p>Here are my contact details:</p>
    <ul>
        <li>Phone: +91-7735526040</li>
        <li>Gmail: sushree.saswati161@gmail.com</li>
        <li>Outlook: ssaswati@iitg.ac.in</li>
    </ul>
</div> 
<%- include("partials/footer"); -%>